<h1>What is transformational coaching?</h1>
<p>
  It is a powerful alliance designed to forward and enhance the lifelong
  process of human learning, effectiveness, and fulfillment. A transformation
  occurs when you determine who you want to be, and how you’re going get there.
  Taking action is the way to create positive, lasting change in your life.
</p>
<p>
  It is about looking at your life and decisions from a different perspective –
  seeing things you’d previously not thought possible. It is motivational,
  is based on experiential learning, and helps you become more accountable.
  It will help you re-evaluate priorities, set boundaries and redefine success.
</p>
<p>
  I use a variety of methods and techniques in my coaching relationships. I
  approach each with a sense of curiosity around learning what can be achieved,
  and looking for new ways to experiment with what works. I work with a process
  that’s simple to grasp, yet challenges you. The process also supports you to
  take care and inspire your life in healthy ways. It addresses things from a
  mental, emotional, behavioural, and spiritual level, to gain a holistic view.
</p>
