<h1>Is coaching for you?</h1>
<p>
  The coaching relationship is much like me being an ally for you, on your
  team. Assisting you through a transitional phase of your life to make
  purposeful change. You set the agenda, I don’t give advice or judgment, but
  tailor the sessions so it’s relevant for you. Here is what I can help with:
<ul>
  <li>Recognising that small changes are often the most influential</li>
  <li>Making choices that feel right for you</li>
  <li>Establishing and expressing your values</li>
  <li>Getting clarity or defining your life purpose</li>
  <li>Unleashing or identifying your passions and interests</li>
  <li>Enhancing your creativity</li>
  <li>Enhancing your job/ career satisfaction</li>
  <li>Being actively involved in your life, overcoming procrastinations</li>
  <li>Creating and maintaining your work/ life balance</li>
  <li>Maintaining healthier relationships</li>
  <li>Breaking patterns of procrastination or creating new habits</li>
  <li>Building your confidence</li>
  <li>Appreciating and accepting your imperfections</li>
  <li>Managing or overcoming stress and anxiety</li>
  <li>Setting, prioritising and achieving your goals</li>
  <li>Setting and maintaining your personal and professional boundaries</li>
</ul>
</p>
