<h1>A bit about me…</h1>
<p>
  The Ghandi quote, ‘be the change you wish to see in the world’ altered my
  perspective on life and how change occurs. It taught me that I have the
  power to change, and to take responsibility for the type of life I want
  to live. This is why I’ve set up be. With my coaching training, and life
  experiences, I want to take my learning and resources to companion others in
  reaching their goals and vision of who they want to be in the world.
</p>
<p>
  I’ve worked as a professional coach for the past 3 years, and in the local
  advertising/ marketing industry for over 10 years. I’ve completed a 2-year
  diploma in Transpersonal Coaching, however I believe I will never stop
  learning and participating courses in this area. I’ve also completed a
  Ba. Communication and I am a member of the International Coaching Federation
  (ICF).
</p>