<h1>Welcome!</h1>
<p>
  I’m Leigh, and I’m a Transition Coach. I assist people discover what they 
  truly want to do with their lives, in order to live with meaning and
  purpose. This often coincides with what they do for work or if they’re
  going through a major transitional phase like pregnancy, where they want to
  make change in some way.
</p>
<p>
  I believe that ‘being’ is an expression of who you are in the world. It 
  identifies who you are - your beliefs, your values, your passions and
  interests, and how you behave. I work with Clients to provide clarity and
  direction, to prioritise, to assist with setting goals, setting boundaries,
  and keeping them on track to achieving what they set out for.
</p>
<p>
  Often people just need a good companion to help make the shift and this is 
  where I come in. I’m someone to bounce ideas off, who encourages
  self-learning, who supports change and will keep you focused.
</p>
<p>
  Have a read through the be site and links, and see if coaching is
  something of interest for you.
</p>
