<h1>My values and beliefs</h1>
<p>
  I like to practice what I preach. I have a few guiding principles that I 
  use for myself and also when working with my Clients. Here’s a taster…
  See how they make you feel.
</p>
<p>
  I believe that everyone has the <b>ability to change</b>.<br />
  I know that <b>taking care of yourself</b> enables life to flow better.<br />
  <b>Integrity is valuable</b>. Often honesty is something we hide from
  ourselves.<br />
  Impossible is unlikely when you give it a go, <b>taking action</b>, even
  just a first thought, counts.<br />
  <b>Asking gets you answers</b>, so don’t be afraid to speak up, or ask for
  and accept assistance.<br />
  Hurdles, setbacks, mistakes, failures all bring <b>learning</b>, and the
  learning may not always be what you expected.<br />
  There’s a spark within that engages us all, I believe having a <b>passion</b>
  in life fulfills you.<br />
  We always have a <b>choice</b>, and often it’s a choice on how to react.<br />
  Life doesn’t have to be a struggle, we can <b>have some fun</b> along the
  way.<br />
</p>