<h1>Firstly, you as a woman</h1>
<p>
  I want to enhance the way women view themselves. I’d love to see more women 
  in the world who feel empowered about themselves, their choices, that
  prioritise taking care of themselves, that understand and practice their
  values, that know at this point in time they are doing the very best they
  can as a woman, as a sister, as a daughter, as a partner, as a friend, as an
  employee, as a boss and where I focus this coaching, as being a mother.
</p>
<h1>What pregnant women and mothers have expressed to </h1>
<p>
  ‘My husband doesn’t understand why I just want to cry for no reason’<br />
  ‘I am not enjoying being pregnant and I feel guilty about it’<br />
  ‘I want to go back to work straight away, being a stay at home Mum is not
  who I am.’<br />
  ‘I can’t afford to be a stay at home Mum and I want to be’<br />
  ‘I think about the birth every moment of every day and it terrifies me’<br />
  ‘I’m don’t want to make the same mistakes my parents made’<br />
  ‘I wasn’t ready to become my mother’<br />
  ‘There is no such thing as a pregnancy glow, I feel like crap’<br />
  ‘There is no fun in pregnancy’<br />
  ‘I love being pregnant and I feel fantastic, but I can’t understand why
  everyone is treating me different, I’m still me’<br />
  ‘I don’t feel sexy anymore’
</p>
<h1>Why this is important to me</h1>
<p>
  My own mothers words of wisdom, ‘women can do anything but not everything’,
  rings in my ears, and I guess helps anchor the purpose of this coaching.
  Motherhood is probably the biggest transition a woman will ever go through.
  My aim is for women to feel confident about the direction of their life and
  becoming a mother. This is an area of coaching I’m personally passionate
  about making a difference in.
</p>
<h1>How does it work?</h1>
<p>
  The coaching process is set to your agenda, and your desired outcomes, so 
  I am open to supporting you in the way that is right for you. I can tailor
  to anything you feel is relevant and important to you. Here are some starters:
</p>
<ul>
  <li>Establishing personal boundaries and priorities – where to focus your
      energy and attention.</li>
  <li>How to make better choices.</li>
  <li>Accepting how you feel at this moment in time.</li>
  <li>What does ‘work’ mean to you after the baby – mapping out a plan that
      feels fulfilling both financially and personally.</li>
  <li>Identifying and dealing with feelings of guilt.</li>
  <li>Determining your values, and how you express them, in the many roles
      you play as a woman (daughter, employee, wife, partner sister, friend,
      mother).</li>
  <li>Setting intentions for each of your roles.</li>
  <li>Identifying fears - and managing or overcoming them.</li>
  <li>Maintaining independence, and accepting and asking for help from others -
      finding a balance.</li>
  <li>Having some fun - celebrate being a woman.</li>
  <li>Be actively involved in the direction of your life, overcome
      procrastinations and take meaningful action.</li>
  <li>Addressing feelings around ‘being different’ and ‘imperfection’. Honour
      your own uniqueness and way.</li>
  <li>How to work better with your partner, how to ask for support from others,
       to believe it’s not all completely in your hands.</li>
  <li>Inclusiveness and connection with others - being open to learning from,
      sharing with, and listening to others, about their experiences (in the
      Pregnancy workshops).</li>
</ul>
<h1>Want to get started?</h1>
<p>
  Give me a call or email me if you feel you’d benefit from coaching at this
  special time in your life. I can send you out an information pack.
</p>