<h1>What others say…</h1>
<p>
  Here is what some of my Clients have said about their coaching experience.
</p>
<p>
  “To me the sessions were of great value - I came to you in a state of 
  restlessness and disarray and knew something needed to change, although I
  had no clue what. Well, I had an idea but I couldn't justify it to myself.
  Talking through things with Leigh and saying everything out loud actually
  made me realise I wasn't being true to myself and in fact taking a risk by
  leaving the corporate world, was exactly the jump I needed to make, as scary
  and irresponsible as it may seem to some people. The sessions helped confirm
  what was in my heart and helped me to make them a reality. The little signs
  all along the way pointing to this being the right decision, and ultimately
  the universe was helping push me into this. Without you that would have
  either been massively delayed, or not have happened at all.”<br />
  Erica
</p>
<p>
  “When I first started my sessions with Leigh I was at a turning point in
  both my career and my personal life. Leigh helped me to look back at my
  decision-making and assess why I was at this point and how best to move
  forward. By no means will these sessions have all the answers, you will
  only get out of them what you put into them. However I can tell you first
  hand they will aid in training your mind to think in such a way that helps
  you to make the right decisions for you moving forward. I’m confident that
  from now on I have the confidence to assess every opportunity that comes my
  way and make the right decisions. The ongoing sessions with Leigh will help
  me to set the right goals and to achieve them.”<br />
  Luke
</p>
<p>
  “Leigh doesn't give you the answers, she asks the right questions. The first 
  session I had with her had an immediate effect on me. All of a sudden I was
  able to see why I was unhappy with some of my previous career choices and why
  some of my new career ideas may or may not be right for me. Having this
  newfound clarity has helped me assess all parts of my life, not just
  my career choice. I just wish I had this kind of clarity 20 years ago.
  Also, having this clarity gives you a new confidence in the choices that 
  you start making. Knowing yourself better means you can start removing the
  guesswork from your life. You start making the hard decisions because you
  know it's right for you not because you think it might be right for you.
  It has also been invaluable having someone outside your inner circle of 
  friends or your other half, who can listen and ask questions without having
  any common history. This means that Leigh doesn't have any pre-conceptions,
  emotional baggage, expectations, sensitive no-go areas. Her only concern is
  you and what's right for you.”<br />
  Kouhei
</p>