<div id="blog_footer">
  Click <a href="http://www.be-coaching/blog/">here</a> to read the <i>be</i>
  blog. <br />This is where I express my <br />values, experiences and some <br />of what
  I’ve learnt.
</div>
<div id="fb_footer">
  <a href="http://www.facebook.com/becoaching/join/" alt="be Facebook
  group">Join the <i>be</i> &nbsp;<%= facebook_icon%> <br />&nbsp;facebook group&nbsp;</a>
</div>
<div id="copy_footer">
  <%= logo_icon %> © <i>be</i> Coaching 2011
</div>