<div>
  Click <a href="http://www.be-coaching/blog/">here</a> to read the be
  blog. This is where I express my values, experiences and some of what
  I’ve learnt.
</div>
<div>
  <a href="http://www.facebook.com/becoaching/join/" alt="be Facebook
  group">Join the be facebook page <%= facebook_icon%></a>
</div>
<div>
  <%= logo_icon %> © be Coaching 2011
</div>